<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 col-xs-6">
				<div class="widget codbits">
					<h3 class="title">CodBits</h3>
					<ul class="list-unstyled">
						<li><a href="#">Home</a></li>
						<li><a href="#">Themes</a></li>
						<li><a href="#">Templates</a></li>
						<li><a href="#">Components</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-2 col-xs-6">
				<div class="widget social">
					<h3 class="title">Be social</h3>
					<ul class="list-unstyled">
						<li><a href="#">Github</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Pinterest</a></li>
						<li><a href="#">Facebook</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="widget subscription">  
					<h3 class="title">Subscription</h3>
					<p class="subscription-response">Like to receive a notification of new products? simply subscribe.</p>
					<form action="" class="form-subscription" role="subscribe">
		        <div class="form-group">
		          <input type="email" class="form-control" placeholder="Email">
		        </div>
		        <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
		      </form>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="widget downloads text-center">
					<h3 class="title">Total downloads</h3>
					<div class="total-downloads">
						<div class="spinner-footer">
						  <div class="bounce1"></div>
						  <div class="bounce2"></div>
						  <div class="bounce3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /.container -->
</footer>
